.video-item{
    width: 12.5em;
    margin: 0.5em;
}

.video-link:visited, .video-link:hover, .video-link:active, .video-link{
    color: black;
    text-decoration: none;
}

.video-image{
    max-width: 100%;
}

.video-delete-button:visited, .video-delete-button:active, .video-delete-button{
    color: black;
    text-decoration: none;
    border: solid black 1px;
}

.video-delete-button:hover{
    text-decoration: none;
    background-color: gray;
}